.container {

}


.wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.wrapper div {
	border: 1px solid orange;
}

.wrapper div:hover {
	border: 3px solid orange;
}
