:root {
	--header-height: 10%;
	--body-height: 85%;
	--footer-height: 5%;
}

.container {
	height: 100%;
}

.header {
	height: var(--header-height);
}

.footer {
	height: var(--footer-height);
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	height: var(--body-height);
}

